@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    <script>
    </script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-page="./Bookings/Create">
        <input type="button" value="Quick Create Booking" />
    </a>
</div><br>
<div style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 1em;" class="row">
    @foreach (var item in Model.Pedalos)
    {
        <div style="display: inline-block; vertical-align: middle; background-color: lightgray; padding:1em; margin:1em; border-radius: 5px" class="col-3">
            <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
            <p>in @Html.DisplayFor(modelItem => item.Color) - Capacity: @Html.DisplayFor(modelItem => item.Capacity)</p>
            <p>@Html.DisplayFor(modelItem => item.HourlyRate) Fr. per hour</p>
            <a href="./Pedaloes/index">
                <input type="button" value="🚤" />
            </a>
        </div>
    }
</div>
<br>
<br>
<div style="display: flex; flex-direction: column; flex-wrap: wrap;">
    @foreach (var item in Model.Pedaloes)
    {
        <div style="display: inline-block; vertical-align: middle; background-color: lightgray; padding:1em; border-radius: 5px">
            <h4>@Html.DisplayFor(modelItem => item.PedaloName)</h4>
            <p>Booked @Html.DisplayFor(modelItem => item.TotalBookings) times</p>
        </div><br>
    }
</div>
<br>
<div style="display: flex; flex-direction: column; flex-wrap: wrap;">
    @foreach (var item in Model.Customers)
    {
        <div style="display: inline-block; vertical-align: middle;">
            <h5>@Html.DisplayFor(modelItem => item.CustomerName)</h5>
            <p>has booked @Html.DisplayFor(modelItem => item.TotalCustomerBookings) times</p>
        </div>

        <br>
    }
</div>