@page
@model PedaloWebApp.Pages.Bookings.IndexModel
@{
    ViewData["Title"] = "Bookings";
    /*int loadingamount = 10;
    <script>
        function loadmore(){
            loadingamount = '@Model.Bookings.Count';
        }
    </script>*/
}

<h1>@ViewData["Title"]</h1>

<table class="table table-responsive-lg table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Pedalo.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedalos[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passengers)
            </th>
            <th>
                <a asp-page="./Create">
                    <input type="button" value="Create" class="btn btn-secondary"/>
                </a>
            </th>

        </tr>
    </thead>
    <tbody>
        @*foreach (var item in Model.Bookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pedalo.Name)
                </td>
                <td>
                    @item.StartDate.ToString("yyyy-MM-dd HH:mm:ss")
                </td>
                <td>
                    @(item.EndDate != null ? item.EndDate.Value.ToString("yyyy-MM-dd HH:mm:ss") : "")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pedalo.Capacity)
                </td>
                <td>
                    @item.BookingPassengers.Count
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.BookingId">
                        <input type="button" value="Edit" class="btn" />
                    </a>
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.BookingId">
                        <input type="button" value="Delete" class="btn" />
                    </a>
                </td>
            </tr>
        }*@
        @for (int i = 0; i < Model.Loadingcolumns; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Bookings[i].Customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Bookings[i].Pedalo.Name)
                </td>
                <td>
                    @Model.Bookings[i].StartDate.ToString("yyyy-MM-dd HH:mm:ss")
                </td>
                <td>
                    @(Model.Bookings[i].EndDate != null ? Model.Bookings[i].EndDate.Value.ToString("yyyy-MM-dd HH:mm:ss") : "")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Bookings[i].Pedalo.Capacity)
                </td>
                <td>
                    @Model.Bookings[i].BookingPassengers.Count
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@Model.Bookings[i].BookingId">
                        <input type="button" value="Edit" class="btn" />
                    </a>
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@Model.Bookings[i].BookingId">
                        <input type="button" value="Delete" class="btn" />
                    </a>
                </td>
                <td>
                    <!--<form method="post" asp-page-handler="DownloadPDF">
                        <button class="btn">📄</button>
                    </form>-->
                    <a asp-page="./GeneratePDF" asp-route-id="@Model.Bookings[i].BookingId">
                        <input type="button" value="📄" class="btn" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Loadingcolumns != Model.Bookings.Count)
{
    <div>
        <!--<button onclick="loadmore()">Load more</button>-->
        <form method="post" asp-page-handler="Loadmore">
            <button class="btn btn-light">Load more</button>
        </form>
    </div>

}

