@page
@model PedaloWebApp.Pages.Pedaloes.IndexModel
@{
    ViewData["Title"] = "Pedaloes";
    
}

<h1>@ViewData["Title"]</h1>

<table class="table table-responsive-lg table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pedaloes[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedaloes[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedaloes[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedaloes[0].HourlyRate)
            </th>
            <th>
                <a asp-page="./Create">
                    <input type="button" value="Create" class="btn btn-secondary" />
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Pedaloes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyRate) Fr.
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.PedaloId">
                        <input type="button" value="Edit" class="btn" />
                    </a>
            </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.PedaloId">
                        <input type="button" value="Delete" class="btn" />
                    </a>
                </td>
        </tr>
    }
    </tbody>
</table>

@if (Model.Loadingcolumns != Model.Pedaloes.Count)
{
    <div>
        <!--<button onclick="loadmore()">Load more</button>-->
        <form method="post" asp-page-handler="Loadmore">
            <button class="btn btn-light">Load more</button>
        </form>
    </div>

}


